*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#NavBarOne {
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;

    div{
        /* border: solid blue; */
        flex: 1;
        padding: 10px;
        text-align: center;
        background-color: teal;
        color: white;
        border: solid black;

        /* transition-property: background-color color; */
        transition-property: all;
        transition-duration: 5s;
        transition-delay: 3s;
    }

    div:hover{
        /* background-color: red; */
        color: red;
        background-color: black;
        color: white;
    }
}